Repository ismail-kharrobi/PongGame-WebApp, pull requests merged in 2023-10, with the labels that each got.

#40 the owner of a room can't leave
  backend/code/src/rooms/rooms.service.ts
Labels: codeql, backend

#44 ADD:Backend Linking
  .gitignore
  backend/Dockerfile.dev
  backend/code/src/auth/auth.controller.ts
  frontend/code/package-lock.json
  frontend/code/package.json
  frontend/code/src/Api/base.tsx
  frontend/code/src/Components/FirstLogin/index.tsx
  frontend/code/src/Components/Game/States/GameState.ts
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Home/index.tsx
  frontend/code/src/Components/Layout/Assets/Avatar.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Login/index.tsx
  frontend/code/src/Components/Play/index.tsx
  frontend/code/src/Components/Profile/History.tsx
  frontend/code/src/Components/Profile/assets/Table.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Components/Settings/assets/Inputs.tsx
  frontend/code/src/Components/Settings/index.tsx
  frontend/code/src/Routes/index.tsx
  frontend/code/src/Stores/stores.ts
  frontend/code/src/index.css
Labels: automerge, codeql, backend, frontend

#45 Dev init backend
  backend/code/src/rooms/dto/kick-member.dto.ts
  backend/code/src/rooms/rooms.controller.ts
  backend/code/src/rooms/rooms.service.ts
Labels: automerge, codeql, backend

#46 Adding Explore section
  frontend/code/package-lock.json
  frontend/code/package.json
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Controllers/ChatControllers.tsx
  frontend/code/src/Components/Chat/assets/UnlockIcon.svg
  frontend/code/src/Components/Chat/assets/explore.svg
  frontend/code/src/Components/Chat/assets/lockIcon.svg
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/tsconfig.json
  package-lock.json
  package.json
Labels: automerge, codeql, frontend

#47 ADD: mute room member
  backend/code/src/rooms/dto/mute-member.dto.ts
  backend/code/src/rooms/rooms.controller.ts
  backend/code/src/rooms/rooms.service.ts
Labels: automerge, codeql, backend

#48 add: modify swagger for room | add finish profile checking
  backend/code/src/profile/dto/update-profile.dto.ts
  backend/code/src/profile/profile.service.ts
  backend/code/src/rooms/dto/room-data.dto.ts
  backend/code/src/rooms/rooms.controller.ts
  backend/code/src/rooms/rooms.service.ts
Labels: automerge, codeql, backend

#49 ADD: room search
  backend/code/src/rooms/dto/room-search.dto.ts
  backend/code/src/rooms/rooms.controller.ts
  backend/code/src/rooms/rooms.service.ts
Labels: automerge, codeql, backend

#51 ADD: get room members
  backend/code/src/rooms/rooms.controller.ts
  backend/code/src/rooms/rooms.service.ts
  backend/code/src/users/users.service.ts
Labels: automerge, codeql, backend

#58 ADD:workflows
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/automerge.yaml
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql.yaml
  .github/workflows/label.yaml
Labels: automerge, codeql

#59 add: list all joind/all rooms
  backend/code/src/friends/dto/query-ofsset-dto.ts
  backend/code/src/main.ts
  backend/code/src/rooms/dto/list-rooms.dto.ts
  backend/code/src/rooms/dto/room-search.dto.ts
  backend/code/src/rooms/rooms.controller.ts
  backend/code/src/rooms/rooms.service.ts
Labels: automerge, codeql, backend

#61 fix: list rooms
  backend/code/src/rooms/dto/list-rooms.dto.ts
  backend/code/src/rooms/rooms.service.ts
Labels: automerge, codeql, backend

#62 Finish Fetching Recent & Public Rooms
  frontend/code/a7a.txt
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Controllers/ChatControllers.tsx
  frontend/code/src/Components/Chat/Controllers/ModalControllers.tsx
  frontend/code/src/Components/Chat/Services/ChatServices.ts
  frontend/code/src/Components/Chat/assets/chatGif.gif
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Stores/stores.ts
Labels: automerge, codeql, frontend

#60 ADD: notifaction table
  backend/code/prisma/dbml/schema.dbml
  backend/code/prisma/schema.prisma
  backend/code/src/friends/friends.service.ts
  backend/code/src/gateways/gateways.gateway.ts
Labels: codeql, backend

#63 MODIFY: add avatar to the data returned by getRoomMembers
  backend/code/src/rooms/rooms.service.ts
Labels: codeql, backend

#64 ADD:Refresh_S
  backend/code/src/main.ts
  docker-compose.yaml
  frontend/code/src/Api/base.tsx
  frontend/code/src/Components/FirstLogin/UploadAvatar.tsx
  frontend/code/src/Components/FirstLogin/index.tsx
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Settings/assets/Inputs.tsx
  frontend/code/src/Components/Settings/index.tsx
  frontend/code/src/Stores/stores.ts
  frontend/code/src/index.tsx
Labels: codeql, backend, frontend, docker

#66 Dev init backend
  backend/code/prisma/dbml/schema.dbml
  backend/code/prisma/schema.prisma
  backend/code/src/app.module.ts
  backend/code/src/auth/auth.controller.ts
  backend/code/src/auth/auth.module.ts
  backend/code/src/auth/stratgies/ft.strategy.ts
  backend/code/src/cloudinary/cloudinary.service.ts
  backend/code/src/friends/friends.service.ts
  backend/code/src/game/game.controller.ts
  backend/code/src/game/game.module.ts
  backend/code/src/game/game.service.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/main.ts
  backend/code/src/messages/dto/message-format.dto.ts
  backend/code/src/messages/messages.controller.ts
  backend/code/src/messages/messages.service.ts
  backend/code/src/profile/dto/profile.dto.ts
  backend/code/src/profile/dto/update-profile.dto.ts
  backend/code/src/profile/profile.controller.ts
  backend/code/src/rooms/dto/create-room.dto.ts
  backend/code/src/rooms/dto/update-room.dto.ts
  backend/code/src/rooms/rooms.service.ts
  backend/code/src/users/dto/create-user.dto.ts
Labels: automerge, codeql, backend

#67 Finish Fetching The current RoomMembers & joing public rooms
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Services/ChatServices.ts
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Layout/index.tsx
Labels: automerge, codeql, frontend

#68 ADD:users features
  backend/Dockerfile.dev
  backend/code/src/profile/dto/profile.dto.ts
  backend/code/src/profile/profile.service.ts
  backend/code/src/users/users.service.ts
  frontend/code/src/Api/base.tsx
  frontend/code/src/Components/Chat/Services/ChatServices.ts
  frontend/code/src/Components/FirstLogin/UploadAvatar.tsx
  frontend/code/src/Components/FirstLogin/UploadLogic.tsx
  frontend/code/src/Components/FirstLogin/index.tsx
  frontend/code/src/Components/Home/LeaderBoard.tsx
  frontend/code/src/Components/Home/index.tsx
  frontend/code/src/Components/Layout/Assets/Search.tsx
  frontend/code/src/Components/Layout/Assets/SearchResults.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Login/index.tsx
  frontend/code/src/Components/Profile/assets/Pong.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Components/Settings/index.tsx
  frontend/code/src/Stores/stores.ts
Labels: automerge, codeql, backend, frontend

#69 ADD: leaderboard
  backend/code/src/app.module.ts
  backend/code/src/leaderboard/dto/leaderboard.dto.ts
  backend/code/src/leaderboard/leaderboard.controller.ts
  backend/code/src/leaderboard/leaderboard.module.ts
  backend/code/src/leaderboard/leaderboard.service.ts
Labels: automerge, codeql, backend

#71 Dev init backend
  backend/code/package-lock.json
  backend/code/package.json
  backend/code/prisma/dbml/schema.dbml
  backend/code/prisma/schema.prisma
  backend/code/src/app.module.ts
  backend/code/src/auth/auth.module.ts
  backend/code/src/auth/guards/at.guard.ts
  backend/code/src/auth/guards/authenticated.guard.ts
  backend/code/src/auth/stratgies/at.strategy.ts
  backend/code/src/auth/stratgies/ft.strategy.ts
  backend/code/src/messages/messages.service.ts
  backend/code/src/profile/dto/profile.dto.ts
  backend/code/src/profile/profile.controller.ts
  backend/code/src/profile/profile.service.ts
  backend/code/src/rooms/rooms.service.ts
  backend/code/src/users/dto/two-factor.dto.ts
  backend/code/src/users/dto/update-user.dto.ts
  backend/code/src/users/users.controller.ts
  backend/code/src/users/users.service.ts
Labels: automerge, codeql, backend

#72 Dev backend
  backend/code/prisma/dbml/schema.dbml
  backend/code/prisma/schema.prisma
  backend/code/src/app.module.ts
  backend/code/src/game/game.controller.ts
  backend/code/src/game/game.service.ts
  backend/code/src/rooms/rooms.controller.ts
  backend/code/src/rooms/rooms.service.ts
Labels: codeql, backend

#73 ADD: get notifications
  backend/code/src/profile/profile.controller.ts
  backend/code/src/profile/profile.service.ts
Labels: automerge, codeql, backend

#74 Finish Room Settings
  .DS_Store
  .gitignore
  backend/.DS_Store
  backend/code/src/profile/profile.controller.ts
  backend/code/src/rooms/rooms.service.ts
  frontend/.DS_Store
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Controllers/LayoutControllers.tsx
  frontend/code/src/Components/Chat/Controllers/ModalControllers.tsx
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
  frontend/code/src/Components/Chat/Services/ChatServices.ts
  frontend/code/src/Components/Chat/Services/MessagesServices.ts
  frontend/code/src/Components/Chat/assets/User_duotone.svg
  frontend/code/src/Components/Chat/assets/User_duotone_2.svg
  frontend/code/src/Components/Chat/assets/User_fill.svg
  frontend/code/src/Components/Chat/assets/nullConv.json
  frontend/code/src/Components/Chat/assets/null_user.svg
  frontend/code/src/Components/Chat/assets/owner.svg
  frontend/code/src/Components/Chat/assets/user.svg
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Layout/Assets/Dash.tsx
  frontend/code/src/Components/Layout/Assets/Game.tsx
  frontend/code/src/Components/Layout/Assets/Message.tsx
  frontend/code/src/Components/Layout/Assets/Out.tsx
  frontend/code/src/Components/Layout/Assets/Profile.tsx
  frontend/code/src/Components/Layout/Assets/Settings.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Login/index.tsx
  frontend/code/src/Utils/helpers.ts
  package-lock.json
  package.json
Labels: automerge, codeql, backend, frontend

#75 add: last message content and time in list rooms, author avatar in ge…
  backend/code/prisma/dbml/schema.dbml
  backend/code/prisma/migrations/20231030183113_/migration.sql
  backend/code/prisma/schema.prisma
  backend/code/src/friends/friends.service.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/messages/dto/message-format.dto.ts
  backend/code/src/messages/messages.controller.ts
  backend/code/src/messages/messages.service.ts
  backend/code/src/rooms/dto/create-room.dto.ts
  backend/code/src/rooms/rooms.service.ts
Labels: codeql, backend
