Repository ismail-kharrobi/PongGame-WebApp, pull requests merged in 2023-09, with the labels that each got.

#24 Create README.md
  README.md
Labels: automerge, codeql

#25 Dev ping chat
  Makefile
  frontend/code/package-lock.json
  frontend/code/src/components/Chat/ChatHome.tsx
  frontend/code/src/components/Chat/Components/MessageHelpers.tsx
  frontend/code/src/components/Chat/Components/tools/Assets.tsx
  frontend/code/src/components/Chat/assets/1.png
  frontend/code/src/components/Chat/assets/2.png
  frontend/code/src/components/Chat/assets/3.png
  frontend/code/src/components/Chat/assets/4.png
  frontend/code/src/components/Chat/assets/5.png
  frontend/code/src/components/Chat/assets/6.png
  frontend/code/src/components/Chat/assets/Done_all_alt_round.svg
  frontend/code/src/components/Chat/assets/Done_all_round.svg
  frontend/code/src/components/Chat/assets/Edit_icon.svg
  frontend/code/src/components/Chat/assets/Search_icon.svg
  frontend/code/src/components/Chat/assets/alaoui.png
  frontend/code/src/components/Chat/assets/aymane.png
  frontend/code/src/components/Chat/assets/bio_icon.svg
  frontend/code/src/components/Chat/assets/check_icon.svg
  frontend/code/src/components/Chat/assets/close_icon.svg
  frontend/code/src/components/Chat/assets/groupChat.png
  frontend/code/src/components/Chat/assets/happy.svg
  frontend/code/src/components/Chat/assets/link.svg
  frontend/code/src/components/Chat/assets/more_icon.svg
  frontend/code/src/components/Chat/assets/send_icon.svg
  frontend/code/src/components/Chat/assets/trandadan-ui (1).zip
  frontend/code/src/index.tsx
  frontend/code/tsconfig.json
Labels: automerge, codeql, frontend

#27 initializing backend about to finish auth that is done on the other p…
  backend/Dockerfile.dev
  backend/code/package-lock.json
  backend/code/package.json
  backend/code/prisma/migrations/20230822133234_init/migration.sql
  backend/code/prisma/migrations/20230903230257_init/migration.sql
  backend/code/prisma/migrations/20230904101432_refreshed_hash_optional/migration.sql
  backend/code/prisma/migrations/20230904101812_add_map/migration.sql
  backend/code/prisma/migrations/20230907080737_init_intra_shit/migration.sql
  backend/code/prisma/migrations/20230907092708_intraid_unique/migration.sql
  backend/code/prisma/migrations/20230911185900_uuid/migration.sql
  backend/code/prisma/schema.prisma
  backend/code/src/app.controller.spec.ts
  backend/code/src/app.controller.ts
  backend/code/src/app.module.ts
  backend/code/src/app.service.ts
  backend/code/src/auth/auth.controller.ts
  backend/code/src/auth/auth.module.ts
  backend/code/src/auth/auth.service.ts
  backend/code/src/auth/constants/constants.ts
  backend/code/src/auth/decorator/get-intra-data.decorator.ts
  backend/code/src/auth/decorator/get_current_user.decorator.ts
  backend/code/src/auth/dto/auth.dto.ts
  backend/code/src/auth/dto/intra.dto.ts
  backend/code/src/auth/guards/at.guard.ts
  backend/code/src/auth/guards/authenticated.guard.ts
  backend/code/src/auth/guards/ft.guard.ts
  backend/code/src/auth/guards/rt.guard.ts
  backend/code/src/auth/stratgies/at.strategy.ts
  backend/code/src/auth/stratgies/ft.strategy.ts
  backend/code/src/auth/stratgies/index.ts
  backend/code/src/auth/stratgies/rt.strategy.ts
  backend/code/src/auth/types/JwtPaloadWRT.type.ts
  backend/code/src/auth/types/JwtPayload.type.ts
  backend/code/src/auth/types/auth.type.ts
  backend/code/src/auth/types/index.ts
  backend/code/src/auth/utils/jwt_utils/jwt_utils.module.ts
  backend/code/src/auth/utils/jwt_utils/jwt_utils.ts
  backend/code/src/main.ts
  backend/code/src/prisma/prisma.module.ts
  backend/code/src/prisma/prisma.service.ts
  backend/code/views/index.html
  backend/code/views/login.html
Labels: automerge, codeql, backend

#29 ADD:user service
  backend/code/package-lock.json
  backend/code/package.json
  backend/code/prisma/migrations/20230915121453_rearranged_data/migration.sql
  backend/code/prisma/schema.prisma
  backend/code/src/app.module.ts
  backend/code/src/auth/auth.module.ts
  backend/code/src/auth/auth.service.ts
  backend/code/src/auth/guards/ft.guard.ts
  backend/code/src/auth/stratgies/ft.strategy.ts
  backend/code/src/auth/utils/jwt_utils/jwt_utils.module.ts
  backend/code/src/auth/utils/jwt_utils/jwt_utils.ts
  backend/code/src/users/dto/create-user.dto.ts
  backend/code/src/users/dto/update-user.dto.ts
  backend/code/src/users/users.module.ts
  backend/code/src/users/users.service.ts
Labels: automerge, codeql, backend

#30 ADD: squash merge
  .github/workflows/automerge.yaml
Labels: automerge, codeql

#31 OPTIMIZE:nginx server
  frontend/code/package-lock.json
  frontend/code/package.json
  frontend/code/src/Components/Home/index.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/assets/Hero.gif
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Components/Settings/assets/Avatar.tsx
  frontend/code/src/Components/Settings/assets/Edit.tsx
  frontend/code/src/Components/Settings/assets/Inputs.tsx
  frontend/code/src/Components/Settings/index.tsx
  frontend/code/src/index.css
  frontend/code/src/index.tsx
  frontend/code/tailwind.config.js
  migrate
  nginx/default.conf
Labels: automerge, codeql, frontend, server

#33 Finish Create ChatRoom Layout
  frontend/code/package-lock.json
  frontend/code/package.json
  frontend/code/src/Components/Chat/Components/MessageHelpers.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/assets/CreateGroupChat.svg
  frontend/code/src/Components/Chat/assets/Group 1000001775.svg
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/tailwind.config.js
  package-lock.json
Labels: automerge, codeql, frontend

#34 Dev ping chat
  frontend/code/src/Components/Chat/Components/MessageHelpers.tsx
  frontend/code/src/Components/Chat/Components/UserToUserChat.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Routes/index.tsx
Labels: automerge, codeql, frontend

#35 ADD:zustand
  frontend/code/package-lock.json
  frontend/code/package.json
  frontend/code/src/Components/Home/index.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/assets/Hero.gif
  frontend/code/src/Components/Profile/assets/svg/threedots.svg
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Components/Settings/assets/Avatar.tsx
  frontend/code/src/Components/Settings/assets/Edit.tsx
  frontend/code/src/Components/Settings/assets/Inputs.tsx
  frontend/code/src/Components/Settings/index.tsx
  frontend/code/src/Context/index.tsx
  frontend/code/src/Stores/stores.ts
  frontend/code/src/index.css
  frontend/code/src/index.tsx
  frontend/code/tailwind.config.js
  nginx/default.conf
  package-lock.json
Labels: automerge, codeql, frontend, server

#37 interactive chat Layout
  frontend/code/src/Components/Chat/Components/MessageHelpers.tsx
  frontend/code/src/Components/Chat/Components/UserToUserChat.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Controllers/ChatState.tsx
  frontend/code/src/Components/Chat/assets/null_asset.svg
  frontend/code/src/Components/Chat/index.tsx
Labels: codeql, frontend
