Repository ismail-kharrobi/PongGame-WebApp, pull requests merged in 2023-11, with the labels that each got.

#76 Finish Rooms Socket & start Working on DM
  .DS_Store
  backend/.DS_Store
  backend/code/src/friends/friends.service.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/rooms/rooms.service.ts
  frontend/.DS_Store
  frontend/code/package-lock.json
  frontend/code/package.json
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/UserToUserChat.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Components/tools/utils.ts
  frontend/code/src/Components/Chat/Controllers/LayoutControllers.tsx
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
  frontend/code/src/Components/Chat/Services/ChatServices.ts
  frontend/code/src/Components/Chat/Services/FriendsServices.ts
  frontend/code/src/Components/Chat/Services/MessagesServices.ts
  frontend/code/src/Components/Chat/Services/SocketsServices.ts
  frontend/code/src/Components/Chat/assets/explore_icon.svg
  frontend/code/src/Components/Chat/assets/options.svg
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Routes/index.tsx
  package-lock.json
  package.json
Labels: codeql, backend, frontend

#77 FRIENDSHIP - LEADERBOARD - HISTORY - INFINITE_SCROLL
  .DS_Store
  backend/code/prisma/migrations/20231024181019_anme/migration.sql
  backend/code/src/game/game.controller.ts
  backend/code/src/game/game.service.ts
  backend/code/src/leaderboard/leaderboard.service.ts
  frontend/Dockerfile.dev
  frontend/code/package-lock.json
  frontend/code/package.json
  frontend/code/src/Components/Home/LeaderBoard.tsx
  frontend/code/src/Components/Home/assets/Table.tsx
  frontend/code/src/Components/Home/index.tsx
  frontend/code/src/Components/Layout/Assets/Profile.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/History.tsx
  frontend/code/src/Components/Profile/assets/MessageB.tsx
  frontend/code/src/Components/Profile/assets/Table.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/index.css
Labels: automerge, codeql, backend, frontend

#78 add: online presence, handle ban unban and join room in sockets
  backend/code/.gitignore
  backend/code/accountPickerCli.ts
  backend/code/package-lock.json
  backend/code/package.json
  backend/code/prisma/dbml/schema.dbml
  backend/code/prisma/migrations/20231105142742_add_onlien_status_to_user/migration.sql
  backend/code/prisma/schema.prisma
  backend/code/seeder.ts
  backend/code/src/app.controller.ts
  backend/code/src/friends/dto/friend-profile.dto.ts
  backend/code/src/friends/friends.controller.ts
  backend/code/src/friends/friends.service.ts
  backend/code/src/game/game.controller.ts
  backend/code/src/game/game.service.ts
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/main.ts
  backend/code/src/messages/messages.controller.ts
  backend/code/src/messages/messages.service.ts
  backend/code/src/rooms/rooms.controller.ts
  backend/code/src/rooms/rooms.service.ts
  backend/code/src/users/users.controller.ts
Labels: automerge, codeql, backend

#79 FIX:LAYOUT_BUGS
  backend/code/src/messages/dto/message-format.dto.ts
  backend/code/src/messages/messages.service.ts
  frontend/code/src/Components/Home/assets/Table.tsx
  frontend/code/src/Components/Layout/Assets/Avatar.tsx
  frontend/code/src/Components/Layout/Assets/Out.tsx
  frontend/code/src/Components/Layout/Assets/Profile.tsx
  frontend/code/src/Components/Layout/Assets/Search.tsx
  frontend/code/src/Components/Layout/Assets/SearchResults.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/assets/Table.tsx
  frontend/code/src/Components/Settings/index.tsx
  frontend/code/src/index.tsx
Labels: automerge, codeql, backend, frontend

#80 add: achivemets to profile
  backend/code/package-lock.json
  backend/code/package.json
  backend/code/src/game/game.service.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/leaderboard/leaderboard.service.ts
  backend/code/src/main.ts
  backend/code/src/messages/dto/message-format.dto.ts
  backend/code/src/messages/messages.service.ts
  backend/code/src/profile/dto/profile.dto.ts
  backend/code/src/profile/profile.controller.ts
  backend/code/src/profile/profile.service.ts
  backend/code/src/rooms/rooms.controller.ts
  backend/code/src/rooms/rooms.service.ts
Labels: automerge, codeql, backend

#81 fix: joinRoom event in sockets | ADD: append roomType to message resp…
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/messages/dto/message-format.dto.ts
  backend/code/src/messages/messages.service.ts
Labels: automerge, codeql, backend

#82 better Profile layout, start working on online status
  backend/code/package-lock.json
  backend/code/package.json
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/UserToUserChat.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
  frontend/code/src/Components/Chat/Services/ChatServices.ts
  frontend/code/src/Components/Chat/Services/FriendsServices.ts
  frontend/code/src/Components/Chat/assets/Chat_balck.svg
  frontend/code/src/Components/Chat/assets/Chat_big.svg
  frontend/code/src/Components/Chat/assets/Chat_black.svg
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Layout/Assets/Dash.tsx
  frontend/code/src/Components/Layout/Assets/Game.tsx
  frontend/code/src/Components/Layout/Assets/Message.tsx
  frontend/code/src/Components/Layout/Assets/Profile.tsx
  frontend/code/src/Components/Layout/Assets/Settings.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Loading/index.tsx
  frontend/code/src/Components/Profile/assets/Table.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Components/Profile/test.ts
  package-lock.json
Labels: codeql, backend, frontend

#83 MERGE
  backend/code/package.json
  backend/code/src/main.ts
  backend/code/src/messages/messages.service.ts
  docker-compose.yaml
  frontend/code/src/Api/base.tsx
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Services/SocketsServices.ts
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Login/index.tsx
  frontend/code/src/Components/Play/index.tsx
  frontend/code/src/Components/Profile/test.ts
  frontend/code/src/Components/Settings/assets/Inputs.tsx
  frontend/code/src/Stores/stores.ts
  nginx/default.conf
Labels: automerge, codeql, backend, frontend, server, docker

#84 refactored notifications
  backend/code/prisma/dbml/schema.dbml
  backend/code/prisma/migrations/20231024181019_anme/migration.sql
  backend/code/prisma/migrations/20231107145233_add_tfa_token/migration.sql
  backend/code/prisma/migrations/20231109204432_add_notification_table/migration.sql
  backend/code/prisma/schema.prisma
  backend/code/src/app.controller.ts
  backend/code/src/auth/auth.controller.ts
  backend/code/src/auth/auth.service.ts
  backend/code/src/auth/dto/tfa-validta.dto.ts
  backend/code/src/auth/guards/at.guard.ts
  backend/code/src/auth/stratgies/ft.strategy.ts
  backend/code/src/friends/dto/query-ofsset-dto.ts
  backend/code/src/friends/friends.service.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/messages/messages.service.ts
  backend/code/src/profile/profile.controller.ts
  backend/code/src/profile/profile.service.ts
  backend/code/src/rooms/rooms.controller.ts
  backend/code/src/rooms/rooms.service.ts
  backend/code/src/rooms/types/room-dms-type.ts
  backend/code/src/rooms/types/room-types.ts
  backend/code/src/users/dto/update-user.dto.ts
  backend/code/src/users/users.controller.ts
  backend/code/src/users/users.service.ts
Labels: automerge, codeql, backend

#85 INIT:GAME
  backend/code/package.json
  backend/code/src/game/game.service.ts
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  frontend/code/src/Components/Chat/Services/SocketsServices.ts
  frontend/code/src/Components/Layout/Assets/Modal.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Play/index.tsx
Labels: automerge, codeql, backend, frontend

#87 finish dm Chat and online status
  backend/code/src/auth/auth.controller.ts
  backend/code/src/auth/auth.service.ts
  backend/code/src/auth/stratgies/ft.strategy.ts
  backend/code/src/game/game.service.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/messages/messages.service.ts
  backend/code/src/rooms/rooms.controller.ts
  backend/code/src/rooms/rooms.service.ts
  backend/code/src/users/dto/two-factor.dto.ts
  backend/code/src/users/users.controller.ts
  backend/code/src/users/users.service.ts
  frontend/code/package-lock.json
  frontend/code/package.json
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/UserToUserChat.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
  frontend/code/src/Components/Chat/Services/ChatServices.ts
  frontend/code/src/Components/Chat/assets/Closewhite.svg
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/FirstLogin/UploadAvatar.tsx
  frontend/code/src/Components/FirstLogin/UploadLogic.tsx
  frontend/code/src/Components/FirstLogin/index.tsx
  frontend/code/src/Components/Home/assets/Table.tsx
  frontend/code/src/Components/Home/index.tsx
  frontend/code/src/Components/Layout/Assets/Avatar.tsx
  frontend/code/src/Components/Layout/Assets/Logo.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Loading/index.tsx
  frontend/code/src/Components/Login/index.tsx
  frontend/code/src/Components/Profile/assets/Table.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Components/Settings/assets/Avatar.tsx
  frontend/code/src/Components/Settings/assets/Inputs.tsx
  frontend/code/src/Components/Settings/index.tsx
  frontend/code/src/Components/Validate2Fa/index.tsx
  frontend/code/src/Components/images/app-store.svg
  frontend/code/src/Components/images/google-authenticator.svg
  frontend/code/src/Components/images/play-store.svg
  frontend/code/src/Routes/index.tsx
  frontend/code/src/Stores/stores.ts
  frontend/code/src/Utils/helpers.ts
  frontend/code/src/logo.svg
  frontend/code/tsconfig.json
Labels: automerge, codeql, backend, frontend

#88 Finish notifications
  backend/code/package-lock.json
  backend/code/src/auth/auth.controller.ts
  backend/code/src/auth/auth.service.ts
  backend/code/src/game/game.service.ts
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/profile/profile.controller.ts
  backend/code/src/profile/profile.service.ts
  backend/code/src/users/dto/two-factor.dto.ts
  backend/code/src/users/users.controller.ts
  frontend/code/package-lock.json
  frontend/code/package.json
  frontend/code/src/Components/Chat/Services/SocketsServices.ts
  frontend/code/src/Components/Layout/Assets/Alert.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Components/Validate2Fa/index.tsx
  frontend/code/src/Stores/stores.ts
Labels: codeql, backend, frontend

#90 FIX:GAME
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/profile/profile.service.ts
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Layout/Assets/Modal.tsx
  frontend/code/src/Components/Play/index.tsx
  frontend/code/src/Components/Profile/assets/Table.tsx
Labels: automerge, codeql, backend, frontend

#91 FIX:GAME (#90)
  backend/code/src/game/game.ts
  docker-compose-dev.yaml
  frontend/code/src/Api/base.tsx
  frontend/code/src/Components/Chat/Services/SocketsServices.ts
  frontend/code/src/Components/Game/index.tsx
  nginx/default.conf
  package-lock.json
  package.json
Labels: automerge, codeql, backend, frontend, server, docker

#92 fix notification throw in front ,finish game invitation from profile
  backend/code/src/app.module.ts
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/gateways/gateways.module.ts
  backend/code/src/profile/profile.service.ts
  frontend/code/src/Components/Chat/Services/FriendsServices.ts
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Layout/Assets/Alert.tsx
  frontend/code/src/Components/Layout/Assets/Invitationacceptance.tsx
  frontend/code/src/Components/Layout/Assets/Invitationmodale.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Stores/stores.ts
Labels: codeql, backend, frontend

#93 ADD: search by username
  backend/code/src/users/users.service.ts
Labels: automerge, codeql, backend

#94 FIX
  backend/code/src/game/game.ts
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
  frontend/code/src/Components/Chat/Services/ChatServices.ts
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Layout/Assets/Alert.tsx
  frontend/code/src/Components/Layout/Assets/Modal.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Components/Validate2Fa/index.tsx
  frontend/code/src/index.tsx
Labels: codeql, backend, frontend, server

#95 UPDATE: limit 20 member for room
  backend/code/src/rooms/rooms.service.ts
Labels: codeql, backend

#96 add game modes
  backend/code/src/friends/friends.controller.ts
  backend/code/src/friends/friends.service.ts
  backend/code/src/game/game.service.ts
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/rooms/rooms.service.ts
  backend/code/src/users/users.service.ts
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/Components/Validate2Fa/index.tsx
Labels: backend, frontend

#98 FIX
  backend/code/src/game/game.service.ts
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/main.ts
  docker-compose.yaml
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Play/index.tsx
  frontend/code/src/Components/Profile/assets/Table.tsx
  frontend/code/src/Routes/index.tsx
Labels: backend, frontend, docker

#99 ADD:ExtraMode
  backend/code/src/game/game.service.ts
  backend/code/src/game/game.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/profile/profile.service.ts
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
Labels: automerge, codeql, backend, frontend

#100 add queue modal for waiting and quiting queue fix block mesages
  backend/code/src/auth/constants/constants.ts
  backend/code/src/game/game.service.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/messages/messages.service.ts
  backend/code/src/profile/profile.service.ts
  backend/code/src/rooms/rooms.service.ts
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Play/assets/queuemodal.tsx
  frontend/code/src/Components/Play/index.tsx
  frontend/code/src/Components/Profile/index.tsx
Labels: automerge, codeql, backend, frontend

#101 Dev chat
  backend/code/src/game/game.service.ts
  backend/code/src/gateways/gateways.gateway.ts
  backend/code/src/rooms/rooms.service.ts
  backend/code/src/users/users.controller.ts
  backend/code/src/users/users.service.ts
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Controllers/LayoutControllers.tsx
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/Components/Profile/index.tsx
  frontend/code/src/index.tsx
Labels: automerge, codeql, backend, frontend

#102 Dev UI fix
  backend/code/src/messages/dto/create-messgae.dto.ts
  backend/code/src/messages/dto/message-format.dto.ts
  backend/code/src/messages/messages.service.ts
  frontend/code/package-lock.json
  frontend/code/package.json
  frontend/code/src/Components/Chat/Components/Conversation.tsx
  frontend/code/src/Components/Chat/Components/RecentChat.tsx
  frontend/code/src/Components/Chat/Components/RoomChatHelpers.tsx
  frontend/code/src/Components/Chat/Components/tools/Assets.tsx
  frontend/code/src/Components/Chat/Components/tools/utils.ts
  frontend/code/src/Components/Chat/Controllers/RoomChatControllers.tsx
  frontend/code/src/Components/Chat/Services/MessagesServices.ts
  frontend/code/src/Components/Chat/index.tsx
  frontend/code/src/Components/Home/LeaderBoard.tsx
  frontend/code/src/Components/Home/assets/Button.tsx
  frontend/code/src/Components/Home/assets/Daimond.tsx
  frontend/code/src/Components/Home/assets/Table.tsx
  frontend/code/src/Components/Home/assets/Trophy.tsx
  frontend/code/src/Components/Home/index.tsx
  frontend/code/src/Components/Layout/index.tsx
  frontend/code/src/index.css
  frontend/code/tailwind.config.js
Labels: automerge, codeql, backend, frontend

#103 FIX
  backend/code/src/game/game.ts
  frontend/code/src/Components/Game/States/GameState.ts
  frontend/code/src/Components/Game/index.tsx
  frontend/code/src/Components/Layout/index.tsx
Labels: automerge, codeql, backend, frontend

#106 Update README.md
  README.md
Labels: codeql
